<ul data-menu="submenu-5" id="submenu-5" class="menu__level" tabindex="-1" role="menu" aria-label="Mylk &amp; Drinks">
    <!-- <li class="menu__item" role="menuitem" >

      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="wrimagecard-topimage_header" href="../reports/power" style="display:block;position: relative; z-index:99;" > 
        <p>1 - Power</p>
      </a>
    </li> -->
    <li class="menu__item" role="menuitem">
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" data-submenu="submenu-5-1" aria-owns="submenu-5-1" href="#">
        <p>1 - Power</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem">
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" data-submenu="submenu-5-2" aria-owns="submenu-5-2" href="#">
        <p>2 - Voltages</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem">
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" data-submenu="submenu-5-3" aria-owns="submenu-5-3" href="#">
        <p>3 - Current</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem">
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" data-submenu="submenu-5-4" aria-owns="submenu-5-4" href="#">
        <p>4 - THD</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem">
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" data-submenu="submenu-5-5" aria-owns="submenu-5-5" href="#">
        <p>5 - thd</p>
      </a>
    </li>
   
    <!-- <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-5-1" aria-owns="submenu-5-1" href="#">Selection</a></li> -->
  </ul>

  <!-- Report Menu/ Power -->
     <ul data-menu="submenu-5-1" id="submenu-5-1" class="menu__level" tabindex="-1" role="menu" aria-label="Selection">

      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa-calendar" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="/datetime_energy" style="display:block;position: relative; z-index:99;" > 
          <p>Energy Received</p>
        </a>
      </li>
  
      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa-calendar" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="/datetime_hour" style="display:block;position: relative; z-index:99;" > 
          <p>Hourly</p>
        </a>
      </li>
      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa-calendar" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="/datetime_day" style="display:block;position: relative; z-index:99;" > 
          <p>Daily</p>
        </a>
      </li>
      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa-calendar" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="/reports/power" style="display:block;position: relative; z-index:99;" > 
          <p>Monthly</p>
        </a>
      </li>
    </ul>

  <!-- Report Menu/ Voltages -->
    <ul data-menu="submenu-5-2" id="submenu-5-2" class="menu__level" tabindex="-1" role="menu" aria-label="Selection">
  
      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="../reports/voltages/LVMSB1" style="display:block;position: relative; z-index:99;" > 
          <p>1 - LVMSB1</p>
        </a>
      </li>
      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="../reports/voltages/LVMSB2" style="display:block;position: relative; z-index:99;" > 
          <p>2 - LVMSB2</p>
        </a>
      </li>
      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="../reports/voltages/LVMSB3" style="display:block;position: relative; z-index:99;" > 
          <p>3 - LVMSB3</p>
        </a>
      </li>
    </ul>

  <!-- Report Menu/ Current -->
    <ul data-menu="submenu-5-3" id="submenu-5-3" class="menu__level" tabindex="-1" role="menu" aria-label="Selection">

    <li class="menu__item" role="menuitem" >

      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="wrimagecard-topimage_header" href="../reports/currents/LVMSB1" style="display:block;position: relative; z-index:99;" > 
        <p>1 - LVMSB1</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >

      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="wrimagecard-topimage_header" href="../reports/currents/LVMSB2" style="display:block;position: relative; z-index:99;" > 
        <p>2 - LVMSB2</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >

      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="wrimagecard-topimage_header" href="../reports/currents/LVMSB3" style="display:block;position: relative; z-index:99;" > 
        <p>3 - LVMSB3</p>
      </a>
    </li>
  </ul>

  <!-- Report Menu/ THD -->
    <ul data-menu="submenu-5-4" id="submenu-5-4" class="menu__level" tabindex="-1" role="menu" aria-label="Selection">
  
      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="../reports/thd-big/LVMSB1" style="display:block;position: relative; z-index:99;" > 
          <p>1 - LVMSB1</p>
        </a>
      </li>
      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="../reports/thd-big/LVMSB2" style="display:block;position: relative; z-index:99;" > 
          <p>2 - LVMSB2</p>
        </a>
      </li>
      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="../reports/thd-big/LVMSB3" style="display:block;position: relative; z-index:99;" > 
          <p>3 - LVMSB3</p>
        </a>
      </li>
    </ul>

  <!-- Report Menu/ thd -->
    <ul data-menu="submenu-5-5" id="submenu-5-5" class="menu__level" tabindex="-1" role="menu" aria-label="Selection">

      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="../reports/thd/LVMSB1" style="display:block;position: relative; z-index:99;" > 
          <p>1 - LVMSB1</p>
        </a>
      </li>
      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="../reports/thd/LVMSB2" style="display:block;position: relative; z-index:99;" > 
          <p>2 - LVMSB2</p>
        </a>
      </li>
      <li class="menu__item" role="menuitem" >

        <center>
          <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
        </center>
        <a class="wrimagecard-topimage_header" href="../reports/thd/LVMSB3" style="display:block;position: relative; z-index:99;" > 
          <p>3 - LVMSB3</p>
        </a>
      </li>
    </ul>