<div class="col-md-6">
	<div class="export-excel">
		<button class="btn btn-success" onclick="tablesToExcelMultiTabs(['LVMSB1'], ['LVMSB1'], '', 'Excel')"><i class="fa fa-file-excel-o" style="margin-right:5px"></i>Xu廕另 Excel</button>
	</div>
	<figure class="highcharts-figure">
		<div id="powerHour87">
			</div> 
		</figure>							
	 
	</div>
	<div class="col-md-6">
		<div class="export-excel">
			<button class="btn btn-success" onclick="tablesToExcelMultiTabs(['LVMSB2'], ['LVMSB2'], '', 'Excel')"><i class="fa fa-file-excel-o" style="margin-right:5px"></i>Xu廕另 Excel</button>
		</div>
		<figure class="highcharts-figure">
			<div id="powerHour972">
				</div>
		</figure>

	</div>
	<div class="col-md-6">
		<div class="export-excel">
			<button class="btn btn-success" onclick="tablesToExcelMultiTabs(['LVMSB3'], ['LVMSB3'], '', 'Excel')"><i class="fa fa-file-excel-o" style="margin-right:5px"></i>Xu廕另 Excel</button>
		</div>
		<figure class="highcharts-figure">
			<div id="powerHourDh">
				</div>
		</figure>
	  
	   
	</div>
	<div class="col-md-6">
		<div class="export-excel" style="visibility: hidden;">
			<button class="btn btn-success" onclick="tablesToExcelMultiTabs(['LVMSB3'], ['LVMSB3'], '', 'Excel')"><i class="fa fa-file-excel-o" style="margin-right:5px"></i>Xu廕另 Excel</button>
		</div>
		<figure class="highcharts-figure">
			<div id="powerSum">
				</div>
		</figure>
	</div>