<ul data-menu="submenu-6" id="submenu-6" class="menu__level" >
    <li class="menu__item" role="menuitem" >

      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="wrimagecard-topimage_header" href="/setting" style="display:block;position: relative; z-index:99;" > 
        <p>SETTING</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="wrimagecard-topimage_header" href="/account" style="display:block;position: relative; z-index:99;" > 
        <p>ACCOUNT</p>
      </a>
    </li>
    </ul>