<ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu" aria-label="Fruits">

    <li class="menu__item" role="menuitem">
      
      <center>
        <i class="fa fa-archive" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-2-1" aria-owns="submenu-2-1"> 
        <p>1 - LVMSB1</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem">
      
      <center>
        <i class="fa fa-archive" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-2-2" aria-owns="submenu-2-2"> 
        <p>2 - LVMSB2</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem">
      
      <center>
        <i class="fa fa-archive" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-2-3" aria-owns="submenu-2-3"> 
        <p>3 - LVMSB3</p>
      </a>
    </li>
  </ul>

  <!-- Dashboard Menu/ LVMSB1 -->
  <ul data-menu="submenu-2-1" id="submenu-2-1" class="menu__level" tabindex="-1" role="menu" aria-label="Special Selection">
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a  class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB1/voltages" style="display:block;position: relative; z-index:99;" > 
        <p>Voltages</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB1/currents" style="display:block;position: relative; z-index:99;" > 
        <p>Currents</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB1/powers" style="display:block;position: relative; z-index:99;" > 
        <p>Powers</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB1/frequency" style="display:block;position: relative; z-index:99;" > 
        <p>Frequency</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB1/thd-big" style="display:block;position: relative; z-index:99;" > 
        <p>THD</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB1/thd" style="display:block;position: relative; z-index:99;" > 
        <p>thd</p>
      </a>
    </li>

  </ul>

  <!-- Dashboard Menu/ LVMSB2 -->
  <ul data-menu="submenu-2-2" id="submenu-2-2" class="menu__level" tabindex="-1" role="menu" aria-label="Special Selection">
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a  class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB2/voltages" style="display:block;position: relative; z-index:99;" > 
        <p>Voltages</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB2/currents" style="display:block;position: relative; z-index:99;" > 
        <p>Currents</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB2/powers" style="display:block;position: relative; z-index:99;" > 
        <p>Powers</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB2/frequency" style="display:block;position: relative; z-index:99;" > 
        <p>Frequency</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB2/thd-big" style="display:block;position: relative; z-index:99;" > 
        <p>THD</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB2/thd" style="display:block;position: relative; z-index:99;" > 
        <p>thd</p>
      </a>
    </li>
  </ul>

  <!-- Dashboard Menu/ LVMSB3 -->
  <ul data-menu="submenu-2-3" id="submenu-2-3" class="menu__level" tabindex="-1" role="menu" aria-label="Special Selection">
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a  class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB3/voltages" style="display:block;position: relative; z-index:99;" > 
        <p>Voltages</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB3/currents" style="display:block;position: relative; z-index:99;" > 
        <p>Currents</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB3/powers" style="display:block;position: relative; z-index:99;" > 
        <p>Powers</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB3/frequency" style="display:block;position: relative; z-index:99;" > 
        <p>Frequency</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB3/thd-big" style="display:block;position: relative; z-index:99;" > 
        <p>THD</p>
      </a>
    </li>
    <li class="menu__item" role="menuitem" >
      <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
       
  
      </div> -->
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB3/thd" style="display:block;position: relative; z-index:99;" > 
        <p>thd</p>
      </a>
    </li>
  </ul>