<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../head/head.ejs') -%>

  <%- include('../head/menu.ejs') -%>

  <%- include('menu/dropdown.ejs') -%>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
         
              <div class="col-md-12">
            <div class="img-map">
              <img class="map_hoplong" src="/static/images/img-map/img-3.jpg" style="width:100%;max-height:700px">
            </div>
          	<div class="thong-so">
				<span class="dv-1" id = "CurrentA1"></span>
				<span class="dv-2" id = "CurrentB1"></span>
        <span class="dv-3" id = "CurrentC1"></span>
        
        <span class="dv-4" id = "powerA1"></span>
				<span class="dv-5" id = "powerB1"></span>
				<span class="dv-6" id = "powerC1"></span>
			</div>
            </div>
     
          
          </div>
    
        </div>
        <style>
          .dv-1::after,.dv-2::after,.dv-3::after{
            content: " A";
          }
        </style>
        <style>
          .dv-4::after,.dv-5::after,.dv-6::after{
            content: " kW";
          }
        </style>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="https://hoplongtech.com/" target="_blank">hoplongtech.com</a>. All rights reserved.</span>
            </div>
          </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <script>
      $('.sub-menu ul').hide();
$(".sub-menu a").click(function () {
	$(this).parent(".sub-menu").children("ul").slideToggle("100");
	$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
});
    </script>
    <!-- page-body-wrapper ends -->
  </div>
  <style>


#container {
    height: 400px;
}
.navbar-expand-md {
  display: none;
}
.sidebar {
  width: auto;
  display: none;
}
.navbar .navbar-brand-wrapper {
  display: none !important;
}
/* .navbar-menu-wrapper.d-flex.align-items-center {
    display: none !important;
} */
.page-body-wrapper {
  margin-top: 0;
}
.main-panel {
  width:auto;
} 
.thong-so {
	position: absolute;
    top: 0;
    left: 0;
}
.thong-so span.dv-1 {
  position: absolute;
    top: 278px;
    font-weight: bold;
    right: -269px;
    font-size: 20px;
	color:blue;
}
.thong-so span.dv-2 {
       position: absolute;
    top: 277px;
    font-weight: bold;
    white-space: nowrap;
    left: 645px;
    font-size: 20px;
    color: blue;
}
.thong-so span.dv-3 {
position: absolute;
    top: 277px;
    font-weight: bold;
    white-space: nowrap;
    left: 1045px;
    font-size: 20px;
    color: blue;
}
.thong-so span.dv-4 {
  position: absolute;
    top: 573px;
    font-weight: bold;
    right: -316px;
    font-size: 20px;
	color:blue;
}
.thong-so span.dv-5 {
  position: absolute;
    top: 573px;
    font-weight: bold;
    white-space: nowrap;
    left: 600px;
    font-size: 20px;
    color: blue;
}
.thong-so span.dv-6 {
position: absolute;
    top: 574px;
    font-weight: bold;
    white-space: nowrap;
    left: 995px;
    font-size: 20px;
    color: blue;
}

nav.sidebar-offcanvas ul li a {
	display: block;
	background: #ebebeb;
	padding: 10px 15px;
	color: #333;
	text-decoration: none;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}
nav.sidebar-offcanvas ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav.sidebar-offcanvas ul li a:hover {
	background: #f8f8f8;
	color: #515151;
}
nav.sidebar-offcanvas ul li a .fa.right {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
nav.sidebar-offcanvas ul ul {
	background-color:#ebebeb;
}
nav.sidebar-offcanvas ul li ul li a {
	background: #f8f8f8;
	border-left: 4px solid transparent;
	padding: 10px 20px;
}
nav.sidebar-offcanvas ul li ul li a:hover {
	background: #ebebeb;
	border-left: 4px solid #3498db;
}
.sidebar-icon-only .sidebar .nav .nav-item .nav-link .fa.right {
    display: none;
}

  </style>

  <!-- plugins:js -->
 
  <script src="./js/vendor.bundle.base.js"></script>

  <script src="js-uibuilder/socket.io.js"></script>
  <script src="js-uibuilder/uibuilderfe.min.js"></script>
  <script src="js-uibuilder/jquery.min.js"></script>
  <script src="js-uibuilder/index.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
<!--   <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script> -->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
<!--   <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script> -->
  <script src="./js/template.js"></script>

  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="./js/dashboard.js"></script>
<!--   <script src="js/data-table.js"></script>
  <script src="js/jquery.dataTables.js"></script>
  <script src="js/dataTables.bootstrap4.js"></script> -->
  <!-- End custom js for this page-->
</body>

</html>

