
body {
  font-family: sans-serif;
}
.menu__wrap ul li {
  font-size: 20px;
}
.content-wrapper {
  background-color:#282f3ac7;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ul li.menu-item {
    /* min-height: 400px; */
    display: inline-block;
}
.wrimagecard.wrimagecard-topimage {
    /* min-height: 400px; */
    display: inline-block;
    width: calc(100% - 150px);
}
.wrimagecard-topimage_header i {
  display: block;
  line-height: 150px;
}
.wrimagecard-topimage_header {
  min-height: 150px;
  width: 150px;
}
.wrimagecard-topimage_title a {
  font-size: 24px;
  color: white;
}
#container {
    height: 400px;
}
.text-content a.active ,.text-content a:focus {
  border-bottom: 1px solid blue;
  color: blue;
} 
.col-md-6 p {
  min-width: 150px;
  display: flex;
}
.thong-so {
	position: absolute;
    top: 0;
    right: 0;
}
h2.modal-title {
  color:white;
}
.modal-header .close {
  color:white;
}
.close {
  opacity: 1;
}
.modal-body p {
  font-size: 22px;
    margin: 0 auto;
    max-width: 300px;

}
.thong-so .diagram-detail .text-content {
  position: relative;
    /* position: absolute; */

    top: 245px;
    cursor: pointer;
    left: -3.3em;
}
.thong-so .diagram-detail a.detail1 {
  font-size: 0.2em;
  font-weight: bold;
    top:-2.5em;
    left: -0.5em;
    position: absolute;
    cursor: pointer;
    
}
.thong-so .diagram-detail a.detail2 {
  font-size: 0.2em;
  font-weight: bold;
    top:4.5em;
    left: -0.5em;
    position: absolute;
    cursor: pointer;
}
.thong-so .diagram-detail a.detail3 {
  font-size: 0.2em;
  font-weight: bold;
    position: absolute;
    top: 11.3em;
    left: -0.5em;
    cursor: pointer;
}
.thong-so span.dv-1 {
    position: absolute;
    top: 9.5em;
    left: -9.8em;
    font-size: 0.22em;
		color:#002bffd4;
		font-weight:bold;
    
}
.thong-so span.dv-2 {
    position: absolute;
    top: 15.5em;
    left: -9.8em;
    font-size: 0.22em;
	color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-3 {
    position: absolute;
    top: 22em;
    left: -9.8em;
    font-size: 0.22em;
	color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-4 {
    position: absolute;
    top: 11em;
    left: -9.8em;
    font-size: 0.22em;
		color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-5 {
    position: absolute;
    top: 17em;
    left: -9.8em;
    font-size: 0.22em;
	color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-6 {
    position: absolute;
    top: 23.5em;
    left: -9.8em;
    font-size: 0.22em;
	color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-7 {
    position: absolute;
    top:12.5em;
    left: -9.8em;
    font-size: 0.22em;
		color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-8 {
    position: absolute;
    top: 18.5em;
    left: -9.8em;
    font-size: 0.22em;
	color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-9 {
    position: absolute;
    top: 25em;
    left: -9.8em;
    font-size: 0.22em;
	color:#002bffd4;
		font-weight:bold;
}
nav.sidebar-offcanvas ul li a {
	display: block;
	background: #ebebeb;
	padding: 10px 15px;
	color: #333;
	text-decoration: none;

}
nav.sidebar-offcanvas ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav.sidebar-offcanvas ul li a:hover {
	background: #f8f8f8;
	color: #515151;
}
nav.sidebar-offcanvas ul li a .fa.right {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
nav.sidebar-offcanvas ul ul {
	background-color:#ebebeb;
}
nav.sidebar-offcanvas ul li ul li a {
	background: #f8f8f8;
	border-left: 4px solid transparent;
	padding: 10px 20px;
}
nav.sidebar-offcanvas ul li ul li a:hover {
	background: #ebebeb;
	border-left: 4px solid #3498db;
}
.sidebar-icon-only .sidebar .nav .nav-item .nav-link .fa.right {
    display: none;
}
/********************** CSS HOmE PAGE CHUAN ***************************/
.menu-wrap ul li.menu-item {
  margin: 50px 120px;
  float: left;
}
.menu__wrap ul.menu__level li.menu__item {
  margin: 50px 120px;
  float: left;
}
.menu__wrap ul.menu__level li.menu__item-link {
  margin: 50px 120px;
  float: left;
}
.menu__level
		.left-categories .menu-wrap{
			position: relative;
		}

		.left-categories .menu-level{
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
			overflow: hidden;
			width: 100%;
		}

		.left-categories .menu-level.menu-current{
			visibility: visible;
		}

		.left-categories .menu-level a{
      text-align: center;
			font-weight: 300;
			position: relative;
			display: block;
			font-size: 14px;
			padding: 1em 1.5em 1em 1.5em;
			color: #999;
			-webkit-transition: color .3s cubic-bezier(0, .5, .5, 1);
			-o-transition: color .3s cubic-bezier(0, .5, .5, 1);
			transition: color .3s cubic-bezier(0, .5, .5, 1);
			width: 100%;
			cursor: pointer;
		}

		.left-categories .cat-menu-crumbs {
	
		}		

		.left-categories .cat-menu-crumbs a {
		    font-weight: bold;
		    /* display: inline-block; */
		    cursor: pointer;
		    vertical-align: middle;
		    letter-spacing: 1px;
		    text-transform: uppercase;
		    color: #197;
		    -webkit-transition: all .3s cubic-bezier(0, .5, .5, 1);
		    -o-transition: all .3s cubic-bezier(0, .5, .5, 1);
		    transition: all .3s cubic-bezier(0, .5, .5, 1);
		}

		.left-categories .cat-menu-crumbs li:last-child {
		    pointer-events: none;
		}

		.left-categories .cat-menu-crumbs .list-inline>li {
		    padding-right: 2px;
		    padding-left: 2px;
        -webkit-animation: in-from-right 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
			animation: in-from-right 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
		}

		.left-categories .cat-menu-crumbs .fa{
      left: -5px;
    top: -20px;
    padding-right: 5px;
    font-size: 20px;
    position: relative;
		}

		.left-categories .cat-menu-crumbs .fa-chevron-right:before {
		    color: #999;
		}

		.left-categories .menu-level a span{
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translate(-50%, -50%);
			-webkit-transition: all .3s cubic-bezier(0, .5, .5, 1);
			-o-transition: all .3s cubic-bezier(0, .5, .5, 1);
			transition: all .3s cubic-bezier(0, .5, .5, 1);
		}

		.left-categories .menu-level a .fa-ellipsis-h:before{
			color: #999;
		}

		.left-categories .menu-level a:hover{
			color: #197;
		}

		.left-categories .menu-level a:hover .fa-ellipsis-h:before{
			color: #197;
		}		

		/* Animations */
		.animate-in-right{
			-webkit-animation: in-from-right 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
			animation: in-from-right 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
		}

		.animate-out-left{
			-webkit-animation: out-from-left 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
			animation: out-from-left 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
		}

		.animate-in-left{
			-webkit-animation: in-from-left 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
			animation: in-from-left 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
		}

		.animate-out-right{
			-webkit-animation: out-from-right 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
			animation: out-from-right 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
		}
			
		@keyframes in-from-right{
			from{
				opacity: 0;
				-webkit-transform: translate3d(100%, 0, 0);
				transform: translate3d(100%, 0, 0);
			}

			to {
				opacity: 1;
				-webkit-transform: translate3d(0%, 0, 0);
				transform: translate3d(0%, 0, 0);
			}
		}

		@keyframes out-from-left{
			from{
				opacity: 1;
				-webkit-transform: translate3d(0%, 0, 0);
				transform: translate3d(0%, 0, 0);
			}

			to {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
			}
		}	


		@keyframes in-from-left{
			from{
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
			}

			to {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
		}		



		@keyframes out-from-right{
			from{
				opacity: 1;
				-webkit-transform: translate3d(0%, 0, 0);
				transform: translate3d(0%, 0, 0);
			}

			to {
				opacity: 0;
				-webkit-transform: translate3d(100%, 0, 0);
				transform: translate3d(100%, 0, 0);
			}
		}