      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100" style="margin: 0 auto;text-align: center;">  
          <a class="navbar-brand brand-logo" href="#">Alarm Library</a>
          <a class="navbar-brand brand-logo-mini" href="#">Alarm Library</a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" >
            <span class="fa fa-list"></span>
          </button>
        </div>  
      </div>

    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar" style="background:linear-gradient(90deg, rgba(51,34,181,0.8995973389355743) 0%, rgba(27,65,231,0.46262254901960786) 0%, rgba(45,150,208,0.9640231092436975) 100%)">
      
            <ul class="dropdown-sidebar">
              <li class="dropdown"><a href='/alarm/LVMSB1/1' style="background: linear-gradient(90deg, rgba(158, 181, 34, 0.78) 0%, rgba(27, 231, 167, 0.87) 0%, rgba(36, 157, 195, 0.97) 100%);color:snow;border-bottom:1px solid;border-bottom:1px solid;color:snow"><i class="fa fa-align-justify" style="margin-right: 9px;"></i>1 - LVMSB1</a>
                <!-- <ul class="dropdown-menu">
                  <li><a href='../trend/LVMSB1/voltages.html'>Voltages</a></li>
                  <li><a href="../trend/LVMSB1/currents.html">Currents</a></li>
                  <li><a href='../trend/LVMSB1/powers.html'>Powers</a></li>
                  <li><a href='../trend/LVMSB1/frequency.html'>Frequency</a></li>
                  <li><a href='../trend/LVMSB1/thd-big.html'>THD</a></li>
                  <li><a href='../trend/LVMSB1/thd.html'>thd</a></li>
              </ul> -->
            </li>
              <li class="dropdown"><a href='/alarm/LVMSB2/1' style="background: linear-gradient(90deg, rgba(158, 181, 34, 0.78) 0%, rgba(27, 231, 167, 0.87) 0%, rgba(36, 157, 195, 0.97) 100%);color:snow;border-bottom:1px solid;border-bottom:1px solid;color:snow"><i class="fa fa-align-justify" style="margin-right: 9px;"></i>2 - LVMSB2</a>
                <!-- <ul class="dropdown-menu">
                  <li><a href='../trend/LVMSB2/voltages.html'>Voltages</a></li>
                  <li><a href="../trend/LVMSB2/currents.html">Currents</a></li>
                  <li><a href='../trend/LVMSB2/powers.html'>Powers</a></li>
                  <li><a href='../trend/LVMSB2/frequency.html'>Frequency</a></li>
                  <li><a href='../trend/LVMSB2/thd-big.html'>THD</a></li>
                  <li><a href='../trend/LVMSB2/thd.html'>thd</a></li>
              </ul> -->
            </li>
            <li class="dropdown"><a href='/alarm/LVMSB3/1' style="background: linear-gradient(90deg, rgba(158, 181, 34, 0.78) 0%, rgba(27, 231, 167, 0.87) 0%, rgba(36, 157, 195, 0.97) 100%);color:snow;border-bottom:1px solid;border-bottom:1px solid;color:snow"><i class="fa fa-align-justify" style="margin-right: 9px;"></i>3 - LVMSB3</a>
              <!-- <ul class="dropdown-menu">
                <li><a href='../trend/LVMSB3/voltages.html'>Voltages</a></li>
                <li><a href="../trend/LVMSB3/currents.html">Currents</a></li>
                <li><a href='../trend/LVMSB3/powers.html'>Powers</a></li>
                <li><a href='../trend/LVMSB3/frequency.html'>Frequency</a></li>
                <li><a href='../trend/LVMSB3/thd-big.html'>THD</a></li>
                <li><a href='../trend/LVMSB3/thd.html'>thd</a></li>
            </ul> -->
          </li>
           
            </ul>

      </nav>