<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../../head/head-report4.ejs') -%>

      </nav>
      <!-- partial -->
      <div class="main-panel" style="background: url(/static/images/img-map/3.jpg);">

        <%- include('chartthd-big/chartthd-big.ejs') -%>

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>

    <!-- page-body-wrapper ends -->
  </div>

  <link rel="stylesheet" href="/static/css/reports/chartthd_big.css">

<script src="/static/js/reports/<%= url %>"></script>
</body>

</html>