<div class="content-wrapper">
    <div class="content-chart" style="margin-bottom:20px;display: inline-block;width:100%">
      <div class="col-md-12">
        <div class="row">
          <div class="title-chart">
            <h3 style="color: white;text-align: center;font-size: 40px;margin-bottom: 30px;visibility: hidden;">Vol U</h3>
          </div>
          <div class="col-md-6" >
            <figure class="highcharts-figure">
              <div id="chart20"></div>
      
            </figure>
           
          </div>
          <div class="col-md-6" >
            <figure class="highcharts-figure">
              <div id="chart21"></div>
      
            </figure>
           
          </div>
        
        </div>
      </div>

    </div>
    <div class="content-chart" style="margin-bottom:20px;display: inline-block;width:100%">
      <div class="col-md-12"> 
        <div class="row">
          <div class="col-md-6" >
            <figure class="highcharts-figure">
              <div id="chart22"></div>
      
            </figure>
           
          </div>
          <div class="col-md-6" >
            <figure class="highcharts-figure">
              <div id="chart23"></div>
      
            </figure>
           
          </div>
        
        </div>
      </div>

    </div>


  </div>