	//CHART LVMSB1
	<div class="col-md-6">
		<figure class="highcharts-figure">
			<div id="powerHour87">
				</div> 
		</figure>
	</div>

	//CHART LVMSB2
	<div class="col-md-6">
	 
		<figure class="highcharts-figure">
			<div id="powerHour972">
				</div>
		</figure>

	</div>
	
	//CHART LVMSB3
	<div class="col-md-6">
	  
		<figure class="highcharts-figure">
			<div id="powerHourDh">
				</div>
		</figure>
	</div>

	//CHART SUM
	<div class="col-md-6">
	 
		<figure class="highcharts-figure">
			<div id="powerSum">
				</div>
		</figure>
	</div>