<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../head/head-report5.ejs') -%>

  <%- include('../../head/menu.ejs') -%>

  <%- include('../menu/dropdown.ejs') -%>
      </nav>
      <!-- partial -->
      <div class="main-panel" style="background: url(/static/images/img-map/3.jpg);">
        <div class="content-wrapper">
          <div class="content-chart" style="margin-bottom:20px;display: inline-block;width:100%">
            <div class="col-md-12">
              <div class="row">
                <div class="title-chart">
                  <h3 style="color: white;text-align: center;font-size: 40px;margin-bottom: 30px;visibility: hidden;">Vol U</h3>
                </div>
                <div class="col-md-6" >
                  <figure class="highcharts-figure">
                    <div id="chart20"></div>
            
                  </figure>
                 
                </div>
                <div class="col-md-6" >
                  <figure class="highcharts-figure">
                    <div id="chart21"></div>
            
                  </figure>
                 
                </div>
              
              </div>
            </div>
    
          </div>
          <div class="content-chart" style="margin-bottom:20px;display: inline-block;width:100%">
            <div class="col-md-12"> 
              <div class="row">
                <div class="col-md-6" >
                  <figure class="highcharts-figure">
                    <div id="chart22"></div>
            
                  </figure>
                 
                </div>
                <div class="col-md-6" >
                  <figure class="highcharts-figure">
                    <div id="chart23"></div>
            
                  </figure>
                 
                </div>
              
              </div>
            </div>
      
          </div>
  

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="https://hoplongtech.com/" target="_blank">hoplongtech.com</a>. All rights reserved.</span>
            </div>
          </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <script>
      $('.sub-menu ul.dropdown-sidebar').hide();

    $(".sub-menu a").click(function () {
      $(this).parent(".sub-menu").children("ul").slideToggle("100");
      $(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
    });
    </script>
    <!-- page-body-wrapper ends -->
  </div>
  <style>


#container {
    height: 400px;
}
.navbar-expand-md {
  display: none;
}
.sidebar {
  width: auto;
  display: none;
}
.navbar .navbar-brand-wrapper {
  display: none !important;
}
/* .navbar-menu-wrapper.d-flex.align-items-center {
    display: none !important;
} */
.page-body-wrapper {
  margin-top: 0;
}
.main-panel {
  width:100%;

} 
.caret-right {
    position: relative;
    top:5px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.thong-so {
	position: absolute;
    top: 0;
    right: 0;
}
.thong-so span.dv-1 {
    position: absolute;
    top: 100px;
    left: -180px;
    font-size: 20px;
		color:blue;
		font-weight:bold;
}
.thong-so span.dv-2 {
    position: absolute;
    top: 185px;
    left: -177px;
    font-size: 20px;
	color:blue;
		font-weight:bold;
}
.thong-so span.dv-3 {
    position: absolute;
    top: 270px;
    left: -175px;
    font-size: 20px;
	color:blue;
		font-weight:bold;
}
nav.sidebar-offcanvas ul li a {
	display: block;
	background: #ebebeb;
	padding: 10px 15px;
	color: #333;
	text-decoration: none;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}
nav.sidebar-offcanvas ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav.sidebar-offcanvas ul li a:hover {
	background: #f8f8f8;
	color: #515151;
}
nav.sidebar-offcanvas ul li a .fa.right {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
nav.sidebar-offcanvas ul ul {
	background-color:#ebebeb;
}
nav.sidebar-offcanvas ul li ul li a {
	background: #f8f8f8;
	border-left: 4px solid transparent;
	padding: 10px 20px;
}
nav.sidebar-offcanvas ul li ul li a:hover {
	background: #ebebeb;
	border-left: 4px solid #3498db;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
ul.dropdown-sidebar li ul.dropdown-menu {
  position: absolute;
    top: 0;
    font-size: 14px;
    width: 90%;
    left: 257px;
    z-index: 100;

}
.sidebar-icon-only .sidebar .nav .nav-item .nav-link .fa.right {
    display: none;
}

</style>

<script src="/static/js/reports/line&barchart87.js"></script>
</body>

</html>

