      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100" style="margin: 0 auto;text-align: center;">  
          <a class="navbar-brand brand-logo" href="../index.html">Report Library</a>
          <a class="navbar-brand brand-logo-mini" href="index.html">Report Library</a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" >
            <span class="fa fa-list"></span>
          </button>
        </div>  
      </div>
<!--       <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav mr-lg-4 w-100">
          <li class="nav-item nav-search d-none d-lg-block w-100">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-magnify"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
  
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div> -->
    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar" style="background:linear-gradient(90deg, rgba(51,34,181,0.8995973389355743) 0%, rgba(27,65,231,0.46262254901960786) 0%, rgba(45,150,208,0.9640231092436975) 100%)">
        <ul class="">
          <li class="nav-item" >
            <a class="nav-link" href="/reports/power" style="background: linear-gradient(90deg, rgba(158, 181, 34, 0.78) 0%, rgba(27, 231, 167, 0.87) 0%, rgba(36, 157, 195, 0.97) 100%);color:snow;border-bottom:1px solid;border-bottom:1px solid;color:snow">
              <i class="fa fa-list" style="margin-right: 6px;"></i>
              <span class="menu-title" >1 - Power</span>
            </a>
          </li>
   
          <li class='sub-menu nav-item' ><a class="nav-link" href='#' style="background: linear-gradient(90deg, rgba(158, 181, 34, 0.78) 0%, rgba(27, 231, 167, 0.87) 0%, rgba(36, 157, 195, 0.97) 100%);color:snow;border-bottom:1px solid;border-bottom:1px solid;color:snow"><i class="fa fa-list" style="margin-right: 9px;" ></i><span class="menu-title" >2 - Voltages</span><div class='fa fa-caret-down right'></div></a>
            <ul class="dropdown-sidebar">
              
              <li class="nav-item">
                <a class="nav-link" href="/reports/voltages/LVMSB1" >
                  <i class="fa fa-home" style="margin-right: 5px;"></i>
                  <span class="menu-title">LVMSB1</span>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports/voltages/LVMSB2">
                <i class="fa fa-home" style="margin-right: 5px;"></i>
                <span class="menu-title">LVMSB2</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports/voltages/LVMSB3">
                <i class="fa fa-home" style="margin-right: 5px;"></i>
                <span class="menu-title">LVMSB3</span>
              </a>
            </li>
            </ul>
          </li>
          <li class='sub-menu nav-item'><a class="nav-link" href='#' style="background: linear-gradient(90deg, rgba(158, 181, 34, 0.78) 0%, rgba(27, 231, 167, 0.87) 0%, rgba(36, 157, 195, 0.97) 100%);color:snow;border-bottom:1px solid;border-bottom:1px solid;color:snow"><i class="fa fa-list" style="margin-right: 9px;"></i><span class="menu-title">3 - Current</span><div class='fa fa-caret-down right'></div></a>
            <ul class="dropdown-sidebar">
              
              <li class="nav-item">
                <a class="nav-link" href="/reports/currents/LVMSB1">
                  <i class="fa fa-home" style="margin-right: 5px;"></i>
                  <span class="menu-title">LVMSB1</span>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports/currents/LVMSB2">
                <i class="fa fa-home" style="margin-right: 5px;"></i>
                <span class="menu-title">LVMSB2</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports/currents/LVMSB3">
                <i class="fa fa-home" style="margin-right: 5px;"></i>
                <span class="menu-title">LVMSB3</span>
              </a>
            </li>
            </ul>
          </li>
          <li class='sub-menu nav-item'><a class="nav-link" href='#' style="background: linear-gradient(90deg, rgba(158, 181, 34, 0.78) 0%, rgba(27, 231, 167, 0.87) 0%, rgba(36, 157, 195, 0.97) 100%);color:snow;border-bottom:1px solid;border-bottom:1px solid;color:snow"><i class="fa fa-list" style="margin-right: 9px;"></i><span class="menu-title">4 - THD</span><div class='fa fa-caret-down right'></div></a>
            <ul class="dropdown-sidebar">
              
              <li class="nav-item">
                <a class="nav-link" href="/reports/thd-big/LVMSB1">
                  <i class="fa fa-home" style="margin-right: 5px;"></i>
                  <span class="menu-title">LVMSB1</span>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports/thd-big/LVMSB2">
                <i class="fa fa-home" style="margin-right: 5px;"></i>
                <span class="menu-title">LVMSB2</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports/thd-big/LVMSB3">
                <i class="fa fa-home" style="margin-right: 5px;"></i>
                <span class="menu-title">LVMSB3</span>
              </a>
            </li>
            </ul>
          </li>
          <li class='sub-menu nav-item'><a class="nav-link" href='#' style="background: linear-gradient(90deg, rgba(158, 181, 34, 0.78) 0%, rgba(27, 231, 167, 0.87) 0%, rgba(36, 157, 195, 0.97) 100%);color:snow;border-bottom:1px solid;border-bottom:1px solid;color:snow"><i class="fa fa-list" style="margin-right: 9px;"></i><span class="menu-title">5 - thd</span><div class='fa fa-caret-down right'></div></a>
            <ul class="dropdown-sidebar">
              
              <li class="nav-item">
                <a class="nav-link" href="/reports/thd/LVMSB1">
                  <i class="fa fa-home" style="margin-right: 5px;"></i>
                  <span class="menu-title">LVMSB1</span>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports/thd/LVMSB2">
                <i class="fa fa-home" style="margin-right: 5px;"></i>
                <span class="menu-title">LVMSB2</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports/thd/LVMSB3">
                <i class="fa fa-home" style="margin-right: 5px;"></i>
                <span class="menu-title">LVMSB3</span>
              </a>
            </li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="../xuong.html">
              <i class="fa fa-home" style="margin-right: 5px;"></i>
              <span class="menu-title">Xưởng Sài Đồng</span>
            </a>
          </li> -->