<!DOCTYPE html>
<html lang="en">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  <%- include('../head/head-homepage.ejs') -%>

  <link rel="stylesheet" href="/static/css/demo.css"></script>
  <link rel="stylesheet" href="/static/css/component.css"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<!-- menu styles -->

<head>

      <!-- partial -->
      <div class="main-panel" style="width:auto;background: url(/static/images/background/city_night.jpg);background-size: cover;">
        <div class="content-wrapper">
          <div class="row">
          
     
<div class="container-fluid" style="width:70%;align-items: center;flex-flow: wrap; display: flex;vertical-align: middle;">
    <div class="left-categories">
      <nav id="ml-menu" class="menu">
        <button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
        <div class="menu__wrap">
          <ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="All">
          
            <li class="menu__item" role="menuitem"  >
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-1" aria-owns="submenu-1"> 
                <p>DIAGRAM</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem"  >

              <center>
                <i class="fa fa-archive" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-2" aria-owns="submenu-2"> 
                <p>DASHBOARD</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem"  >

              <center>
                <i class="fa fa-codepen" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-3" aria-owns="submenu-3"> 
                <p>TREND</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem"  >

              <center>
                <i class="fa fa-clock-o" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-4" aria-owns="submenu-4"> 
                <p>ALARM</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem"  >

              <center>
                <i class="fa fa-bar-chart" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-5" aria-owns="submenu-5"> 
                <p>REPORT</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem"  >

              <center>
                <i class="fa fa-cogs" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-6" aria-owns="submenu-6"> 
                <p>SETTING</p>
              </a>
            </li>
        
          </ul>
          <!-- Submenu 1 -->
          <ul data-menu="submenu-1" id="submenu-1" class="menu__level">

            
            <li class="menu__item" >
 
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="wrimagecard-topimage_header" href="../diagram/map1" style="display:block;position: relative; z-index:99;" > 
                <p>I UI Map</p>
              </a>
            </li>
            <li class="menu__item" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="wrimagecard-topimage_header" href="../diagram/map2" style="display:block;position: relative; z-index:99;" > 
                <p>One - line 1</p>
              </a>
            </li>
          </ul>
          <!-- Submenu 1-1 -->
          <ul data-menu="submenu-1-1" id="submenu-1-1" class="menu__level" tabindex="-1" role="menu" aria-label="Sale %">
            <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Fair Trade Roots</a></li>
            <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Dried Veggies</a></li>
            <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Our Brand</a></li>
            <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Homemade</a></li>
          </ul>
          <!-- Submenu 2 -->
          <ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu" aria-label="Fruits">
          
    
            <li class="menu__item" role="menuitem">
              
              <center>
                <i class="fa fa-archive" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-2-1" aria-owns="submenu-2-1"> 
                <p>1 - LVMSB1</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem">
              
              <center>
                <i class="fa fa-archive" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-2-2" aria-owns="submenu-2-2"> 
                <p>2 - LVMSB2</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem">
              
              <center>
                <i class="fa fa-archive" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-2-3" aria-owns="submenu-2-3"> 
                <p>3 - LVMSB3</p>
              </a>
            </li>
          </ul>
          <!-- Submenu 2-1 -->
          <!-- <ul data-menu="submenu-2-2" id="submenu-2-2" class="menu__level" tabindex="-1" role="menu" aria-label="Special Selection">
            <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Exotic Mixes</a></li>
            <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Wild Pick</a></li>
            <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Vitamin Boosters</a></li>
          </ul> -->

          <ul data-menu="submenu-2-1" id="submenu-2-1" class="menu__level" tabindex="-1" role="menu" aria-label="Special Selection">
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a  class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB1/voltages" style="display:block;position: relative; z-index:99;" > 
                <p>Voltages</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB1/currents" style="display:block;position: relative; z-index:99;" > 
                <p>Currents</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB1/powers" style="display:block;position: relative; z-index:99;" > 
                <p>Powers</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB1/frequency" style="display:block;position: relative; z-index:99;" > 
                <p>Frequency</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB1/thd-big" style="display:block;position: relative; z-index:99;" > 
                <p>THD</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB1/thd" style="display:block;position: relative; z-index:99;" > 
                <p>thd</p>
              </a>
            </li>
        
          </ul>
          <ul data-menu="submenu-2-2" id="submenu-2-2" class="menu__level" tabindex="-1" role="menu" aria-label="Special Selection">
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a  class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB2/voltages" style="display:block;position: relative; z-index:99;" > 
                <p>Voltages</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB2/currents" style="display:block;position: relative; z-index:99;" > 
                <p>Currents</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB2/powers" style="display:block;position: relative; z-index:99;" > 
                <p>Powers</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB2/frequency" style="display:block;position: relative; z-index:99;" > 
                <p>Frequency</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB2/thd-big" style="display:block;position: relative; z-index:99;" > 
                <p>THD</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB2/thd" style="display:block;position: relative; z-index:99;" > 
                <p>thd</p>
              </a>
            </li>
          </ul>
          <ul data-menu="submenu-2-3" id="submenu-2-3" class="menu__level" tabindex="-1" role="menu" aria-label="Special Selection">
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a  class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB3/voltages" style="display:block;position: relative; z-index:99;" > 
                <p>Voltages</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB3/currents" style="display:block;position: relative; z-index:99;" > 
                <p>Currents</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB3/powers" style="display:block;position: relative; z-index:99;" > 
                <p>Powers</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB3/frequency" style="display:block;position: relative; z-index:99;" > 
                <p>Frequency</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB3/thd-big" style="display:block;position: relative; z-index:99;" > 
                <p>THD</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../dashboard/LVMSB3/thd" style="display:block;position: relative; z-index:99;" > 
                <p>thd</p>
              </a>
            </li>
          </ul>
          <!-- Submenu 3 -->
          <ul data-menu="submenu-3" id="submenu-3" class="menu__level" tabindex="-1" role="menu" aria-label="Grains">
            <li class="menu__item" role="menuitem">
              
              <center>
                <i class="fa fa-archive" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-3-1" aria-owns="submenu-3-1"> 
                <p>1 - LVMSB1</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem">
              
              <center>
                <i class="fa fa-archive" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-3-2" aria-owns="submenu-3-2"> 
                <p>2 - LVMSB2</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem">
              
              <center>
                <i class="fa fa-archive" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="#"  data-submenu="submenu-3-3" aria-owns="submenu-3-3"> 
                <p>3 - LVMSB3</p>
              </a>
            </li>
            <!-- <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-1" aria-owns="submenu-3-1" href="#">Promo Packs</a></li> -->
          </ul>
          <!-- Submenu 3-1 -->
          <ul data-menu="submenu-3-1" id="submenu-3-1" class="menu__level" tabindex="-1" role="menu" aria-label="Promo Packs">
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a  class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB1/voltages" style="display:block;position: relative; z-index:99;" > 
                <p>Voltages</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB1/currents" style="display:block;position: relative; z-index:99;" > 
                <p>Currents</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB1/powers" style="display:block;position: relative; z-index:99;" > 
                <p>Powers</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB1/frequency" style="display:block;position: relative; z-index:99;" > 
                <p>Frequency</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB1/thd-big" style="display:block;position: relative; z-index:99;" > 
                <p>THD</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB1/thd" style="display:block;position: relative; z-index:99;" > 
                <p>thd</p>
              </a>
            </li>
          </ul>
             <!-- Submenu 3-2 -->
             <ul data-menu="submenu-3-2" id="submenu-3-2" class="menu__level" tabindex="-1" role="menu" aria-label="Promo Packs">
              <li class="menu__item" role="menuitem" >
                <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
                 
            
                </div> -->
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a  class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB2/voltages" style="display:block;position: relative; z-index:99;" > 
                  <p>Voltages</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
                <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
                 
            
                </div> -->
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB2/currents" style="display:block;position: relative; z-index:99;" > 
                  <p>Currents</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
                <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
                 
            
                </div> -->
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB2/powers" style="display:block;position: relative; z-index:99;" > 
                  <p>Powers</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
                <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
                 
            
                </div> -->
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB2/frequency" style="display:block;position: relative; z-index:99;" > 
                  <p>Frequency</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
                <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
                 
            
                </div> -->
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB2/thd-big" style="display:block;position: relative; z-index:99;" > 
                  <p>THD</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
                <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
                 
            
                </div> -->
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB2/thd" style="display:block;position: relative; z-index:99;" > 
                  <p>thd</p>
                </a>
              </li>
            </ul>
             <!-- Submenu 3-3 -->
             <ul data-menu="submenu-3-3" id="submenu-3-3" class="menu__level" tabindex="-1" role="menu" aria-label="Promo Packs">
              <li class="menu__item" role="menuitem" >
                <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
                 
            
                </div> -->
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a  class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB3/voltages" style="display:block;position: relative; z-index:99;" > 
                  <p>Voltages</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
                <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
                 
            
                </div> -->
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB3/currents" style="display:block;position: relative; z-index:99;" > 
                  <p>Currents</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
                <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
                 
            
                </div> -->
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB3/powers" style="display:block;position: relative; z-index:99;" > 
                  <p>Powers</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
                <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
                 
            
                </div> -->
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB3/frequency" style="display:block;position: relative; z-index:99;" > 
                  <p>Frequency</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
                <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
                 
            
                </div> -->
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB3/thd-big" style="display:block;position: relative; z-index:99;" > 
                  <p>THD</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
                <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
                 
            
                </div> -->
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="menu__link wrimagecard-topimage_header" href="../trend/LVMSB3/thd" style="display:block;position: relative; z-index:99;" > 
                  <p>thd</p>
                </a>
              </li>
            </ul>
          <!-- Submenu 4 -->
          <ul data-menu="submenu-4" id="submenu-4" class="menu__level">
            <li class="menu__item" role="menuitem" >
 
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="wrimagecard-topimage_header" href="../alarm/LVMSB1/1" style="display:block;position: relative; z-index:99;" > 
                <p>1 - LVMSB1</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="wrimagecard-topimage_header" href="../alarm/LVMSB2/1" style="display:block;position: relative; z-index:99;" > 
                <p>2 - LVMSB2</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <!-- <div class="menu__link wrimagecard-topimage_header" style="background-color: deepskyblue">
               
          
              </div> -->
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="wrimagecard-topimage_header" href="../alarm/LVMSB3/1" style="display:block;position: relative; z-index:99;" > 
                <p>3 - LVMSB3</p>
              </a>
            </li>
  
          </ul>
      
          <!-- Submenu 4-1 -->
          <ul data-menu="submenu-4-1" id="submenu-4-1" class="menu__level" tabindex="-1" role="menu" aria-label="Selection">
            <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Nut Mylk Packs</a></li>
            <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Amino Acid Heaven</a></li>
            <li class="menu__item" role="menuitem"><a class="menu__link" href="#">Allergy Free</a></li>
          </ul>
           <!-- Submenu 5 -->
           <ul data-menu="submenu-5" id="submenu-5" class="menu__level" tabindex="-1" role="menu" aria-label="Mylk &amp; Drinks">
            <!-- <li class="menu__item" role="menuitem" >
 
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="wrimagecard-topimage_header" href="../reports/power" style="display:block;position: relative; z-index:99;" > 
                <p>1 - Power</p>
              </a>
            </li> -->
            <li class="menu__item" role="menuitem">
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" data-submenu="submenu-5-1" aria-owns="submenu-5-1" href="#">
                <p>1 - Power</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem">
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" data-submenu="submenu-5-2" aria-owns="submenu-5-2" href="#">
                <p>2 - Voltages</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem">
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" data-submenu="submenu-5-3" aria-owns="submenu-5-3" href="#">
                <p>3 - Current</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem">
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" data-submenu="submenu-5-4" aria-owns="submenu-5-4" href="#">
                <p>4 - THD</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem">
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="menu__link wrimagecard-topimage_header" data-submenu="submenu-5-5" aria-owns="submenu-5-5" href="#">
                <p>5 - thd</p>
              </a>
            </li>
           
            <!-- <li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-5-1" aria-owns="submenu-5-1" href="#">Selection</a></li> -->
          </ul>
             <!-- Submenu 5-1 -->
             <ul data-menu="submenu-5-1" id="submenu-5-1" class="menu__level" tabindex="-1" role="menu" aria-label="Selection">

              <li class="menu__item" role="menuitem" >
 
                <center>
                  <i class="fa fa-calendar" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="wrimagecard-topimage_header" href="/datetime_energy" style="display:block;position: relative; z-index:99;" > 
                  <p>Energy Received</p>
                </a>
              </li>
          
              <li class="menu__item" role="menuitem" >
 
                <center>
                  <i class="fa fa-calendar" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="wrimagecard-topimage_header" href="/datetime_hour" style="display:block;position: relative; z-index:99;" > 
                  <p>Hourly</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
 
                <center>
                  <i class="fa fa-calendar" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="wrimagecard-topimage_header" href="/datetime_day" style="display:block;position: relative; z-index:99;" > 
                  <p>Daily</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >

                <center>
                  <i class="fa fa-calendar" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="wrimagecard-topimage_header" href="/reports" style="display:block;position: relative; z-index:99;" > 
                  <p>Monthly</p>
                </a>
              </li>
            </ul>
            <!-- Submenu 5-2 -->
            <ul data-menu="submenu-5-2" id="submenu-5-2" class="menu__level" tabindex="-1" role="menu" aria-label="Selection">
          
              <li class="menu__item" role="menuitem" >
 
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="wrimagecard-topimage_header" href="../reports/voltages/LVMSB1" style="display:block;position: relative; z-index:99;" > 
                  <p>1 - LVMSB1</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
 
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="wrimagecard-topimage_header" href="../reports/voltages/LVMSB2" style="display:block;position: relative; z-index:99;" > 
                  <p>2 - LVMSB2</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >

                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="wrimagecard-topimage_header" href="../reports/voltages/LVMSB3" style="display:block;position: relative; z-index:99;" > 
                  <p>3 - LVMSB3</p>
                </a>
              </li>
            </ul>

                   <!-- Submenu 5-3 -->
                   <ul data-menu="submenu-5-3" id="submenu-5-3" class="menu__level" tabindex="-1" role="menu" aria-label="Selection">
          
                    <li class="menu__item" role="menuitem" >
       
                      <center>
                        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                      </center>
                      <a class="wrimagecard-topimage_header" href="../reports/currents/LVMSB1" style="display:block;position: relative; z-index:99;" > 
                        <p>1 - LVMSB1</p>
                      </a>
                    </li>
                    <li class="menu__item" role="menuitem" >
       
                      <center>
                        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                      </center>
                      <a class="wrimagecard-topimage_header" href="../reports/currents/LVMSB2" style="display:block;position: relative; z-index:99;" > 
                        <p>2 - LVMSB2</p>
                      </a>
                    </li>
                    <li class="menu__item" role="menuitem" >
      
                      <center>
                        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                      </center>
                      <a class="wrimagecard-topimage_header" href="../reports/currents/LVMSB3" style="display:block;position: relative; z-index:99;" > 
                        <p>3 - LVMSB3</p>
                      </a>
                    </li>
                  </ul>

                         <!-- Submenu 5-4 -->
            <ul data-menu="submenu-5-4" id="submenu-5-4" class="menu__level" tabindex="-1" role="menu" aria-label="Selection">
          
              <li class="menu__item" role="menuitem" >
 
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="wrimagecard-topimage_header" href="../reports/thd-big/LVMSB1" style="display:block;position: relative; z-index:99;" > 
                  <p>1 - LVMSB1</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >
 
                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="wrimagecard-topimage_header" href="../reports/thd-big/LVMSB2" style="display:block;position: relative; z-index:99;" > 
                  <p>2 - LVMSB2</p>
                </a>
              </li>
              <li class="menu__item" role="menuitem" >

                <center>
                  <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                </center>
                <a class="wrimagecard-topimage_header" href="../reports/thd-big/LVMSB3" style="display:block;position: relative; z-index:99;" > 
                  <p>3 - LVMSB3</p>
                </a>
              </li>
            </ul>

              <!-- Submenu 5-5 -->
              <ul data-menu="submenu-5-5" id="submenu-5-5" class="menu__level" tabindex="-1" role="menu" aria-label="Selection">

                <li class="menu__item" role="menuitem" >
    
                  <center>
                    <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                  </center>
                  <a class="wrimagecard-topimage_header" href="../reports/thd/LVMSB1" style="display:block;position: relative; z-index:99;" > 
                    <p>1 - LVMSB1</p>
                  </a>
                </li>
                <li class="menu__item" role="menuitem" >
    
                  <center>
                    <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                  </center>
                  <a class="wrimagecard-topimage_header" href="../reports/thd/LVMSB2" style="display:block;position: relative; z-index:99;" > 
                    <p>2 - LVMSB2</p>
                  </a>
                </li>
                <li class="menu__item" role="menuitem" >
  
                  <center>
                    <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
                  </center>
                  <a class="wrimagecard-topimage_header" href="../reports/thd/LVMSB3" style="display:block;position: relative; z-index:99;" > 
                    <p>3 - LVMSB3</p>
                  </a>
                </li>
              </ul>
           <!-- Submenu 6 -->
           <ul data-menu="submenu-6" id="submenu-6" class="menu__level" >
            <li class="menu__item" role="menuitem" >
 
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="wrimagecard-topimage_header" href="/setting" style="display:block;position: relative; z-index:99;" > 
                <p>SETTING</p>
              </a>
            </li>
            <li class="menu__item" role="menuitem" >
              <center>
                <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
              </center>
              <a class="wrimagecard-topimage_header" href="/account" style="display:block;position: relative; z-index:99;" > 
                <p>ACCOUNT</p>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

        
          <!-- <div class="col-md-12 home-layout">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="/Home/Index">
                            <div class="wrimagecard-topimage_header" style="background-color: deepskyblue">
                              <center>
                                <i class="fa fa-home" style="color:#fff;font-size: 70px;"> </i>
                              </center>
                        
                            </div>
                            <div class="wrimagecard-topimage_title">
                                <h4 style="text-align:center">
                                    <a href="#">DIAGRAM</a>
      
                                </h4>
                                <div class="pull-right badge" id="WrGridSystem"></div>
                            </div>
      
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="dashboard/LVMSB1/voltages">
                            <div class="wrimagecard-topimage_header" style="background-color: deepskyblue">
                                <center><i class="fa fa-archive" style="color:#fff;font-size: 70px;"> </i></center>
                            </div>
                            <div class="wrimagecard-topimage_title">
                              <h4 style="text-align:center">
                                    <a href="/diagram/map2">DASHBOARD</a>
      
                                </h4>
                                <div class="pull-right badge" id="WrGridSystem"></div>
                            </div>
      
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="/trend">
                            <div class="wrimagecard-topimage_header" style="background-color: deepskyblue">
                              <center><i class="fa fa-codepen" style="color:#fff;font-size: 70px;"> </i></center>
                            </div>
                            <div class="wrimagecard-topimage_title">
                              <h4 style="text-align:center">
                                    <a href="#">TREND</a>
      
                                </h4>
                                <div class="pull-right badge" id="WrGridSystem"></div>
                            </div>
      
                        </a>
                    </div>
                </div>
      
            </div>
            </div> -->
                <!-- <div class="col-md-12 home-layout" style="margin-top:30px">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="/alam">
                                    <div class="wrimagecard-topimage_header" style="background-color:deepskyblue">
                                        <center><i class="fa fa-clock-o" style="color:#fff;font-size: 70px;"></i></center>
                                    </div>
                                    <div class="wrimagecard-topimage_title">
                                      <h4 style="text-align:center">
                                            <a href="#">ALARM</a>
      
                                        </h4>
                                        <div class="pull-right badge" id="WrControls"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="/report">
                                    <div class="wrimagecard-topimage_header" style="background-color:deepskyblue">
                                        <center><i class="fa fa-bar-chart" style="color:#fff;font-size: 70px;"></i></center>
                                    </div>
                                    <div class="wrimagecard-topimage_title">
                                      <h4 style="text-align:center">
                                            <a href="#">REPORT</a>
      
                                        </h4>
                                        <div class="pull-right badge" id="WrControls"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="/setting">
                                    <div class="wrimagecard-topimage_header" style="background-color:deepskyblue">
                                        <center><i class="fa fa-cogs" style="color:#fff;font-size: 70px;"></i></center>
                                    </div>
                                    <div class="wrimagecard-topimage_title">
                                      <h4 style="text-align:center">
                                            <a href="#">SETTINGS</a>
      
                                        </h4>
                                        <div class="pull-right badge" id="WrControls"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
  </div>

</div>
     
          
          </div>
     
        </div>
        <script>

     
      </script>

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright  2020 <a href="https://hoplongtech.com/" target="_blank">hoplongtech.com</a>. All rights reserved.</span>
            </div>
          </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>


      <script>
        var selector = '.text-content a';

$(selector).on('click', function(){
    $(selector).removeClass('active');
    $(this).addClass('active');
});
      </script>
    <script>
    flexFont = function () {
    var divs = document.getElementsByClassName("main-panel");
    for(var i = 0; i < divs.length; i++) {
        var relFontsize = divs[i].offsetWidth*0.05;
        divs[i].style.fontSize = relFontsize+'px';
    }
};

window.onload = function(event) {
    flexFont();
};
window.onresize = function(event) {
    flexFont();
};
    </script>
    <script>
      $('.sub-menu ul').hide();
$(".sub-menu a").click(function () {
	$(this).parent(".sub-menu").children("ul").slideToggle("100");
	$(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
});
    </script>


    <!-- page-body-wrapper ends -->
  </div>
  <style>

body {
  font-family: sans-serif;
}
.menu__wrap ul li {
  font-size: 20px;
}
.content-wrapper {
  background-color:#282f3ac7;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ul li.menu-item {
    /* min-height: 400px; */
    display: inline-block;
}
.wrimagecard.wrimagecard-topimage {
    /* min-height: 400px; */
    display: inline-block;
    width: calc(100% - 150px);
}
.wrimagecard-topimage_header i {
  display: block;
  line-height: 150px;
}
.wrimagecard-topimage_header {
  min-height: 150px;
  width: 150px;
}
.wrimagecard-topimage_title a {
  font-size: 24px;
  color: white;
}
#container {
    height: 400px;
}
.text-content a.active ,.text-content a:focus {
  border-bottom: 1px solid blue;
  color: blue;
} 
.col-md-6 p {
  min-width: 150px;
  display: flex;
}
.thong-so {
	position: absolute;
    top: 0;
    right: 0;
}
h2.modal-title {
  color:white;
}
.modal-header .close {
  color:white;
}
.close {
  opacity: 1;
}
.modal-body p {
  font-size: 22px;
    margin: 0 auto;
    max-width: 300px;

}
.thong-so .diagram-detail .text-content {
  position: relative;
    /* position: absolute; */

    top: 245px;
    cursor: pointer;
    left: -3.3em;
}
.thong-so .diagram-detail a.detail1 {
  font-size: 0.2em;
  font-weight: bold;
    top:-2.5em;
    left: -0.5em;
    position: absolute;
    cursor: pointer;
    
}
.thong-so .diagram-detail a.detail2 {
  font-size: 0.2em;
  font-weight: bold;
    top:4.5em;
    left: -0.5em;
    position: absolute;
    cursor: pointer;
}
.thong-so .diagram-detail a.detail3 {
  font-size: 0.2em;
  font-weight: bold;
    position: absolute;
    top: 11.3em;
    left: -0.5em;
    cursor: pointer;
}
.thong-so span.dv-1 {
    position: absolute;
    top: 9.5em;
    left: -9.8em;
    font-size: 0.22em;
		color:#002bffd4;
		font-weight:bold;
    
}
.thong-so span.dv-2 {
    position: absolute;
    top: 15.5em;
    left: -9.8em;
    font-size: 0.22em;
	color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-3 {
    position: absolute;
    top: 22em;
    left: -9.8em;
    font-size: 0.22em;
	color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-4 {
    position: absolute;
    top: 11em;
    left: -9.8em;
    font-size: 0.22em;
		color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-5 {
    position: absolute;
    top: 17em;
    left: -9.8em;
    font-size: 0.22em;
	color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-6 {
    position: absolute;
    top: 23.5em;
    left: -9.8em;
    font-size: 0.22em;
	color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-7 {
    position: absolute;
    top:12.5em;
    left: -9.8em;
    font-size: 0.22em;
		color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-8 {
    position: absolute;
    top: 18.5em;
    left: -9.8em;
    font-size: 0.22em;
	color:#002bffd4;
		font-weight:bold;
}
.thong-so span.dv-9 {
    position: absolute;
    top: 25em;
    left: -9.8em;
    font-size: 0.22em;
	color:#002bffd4;
		font-weight:bold;
}
nav.sidebar-offcanvas ul li a {
	display: block;
	background: #ebebeb;
	padding: 10px 15px;
	color: #333;
	text-decoration: none;

}
nav.sidebar-offcanvas ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav.sidebar-offcanvas ul li a:hover {
	background: #f8f8f8;
	color: #515151;
}
nav.sidebar-offcanvas ul li a .fa.right {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
nav.sidebar-offcanvas ul ul {
	background-color:#ebebeb;
}
nav.sidebar-offcanvas ul li ul li a {
	background: #f8f8f8;
	border-left: 4px solid transparent;
	padding: 10px 20px;
}
nav.sidebar-offcanvas ul li ul li a:hover {
	background: #ebebeb;
	border-left: 4px solid #3498db;
}
.sidebar-icon-only .sidebar .nav .nav-item .nav-link .fa.right {
    display: none;
}
/********************** CSS HOmE PAGE CHUAN ***************************/
.menu-wrap ul li.menu-item {
  margin: 50px 120px;
  float: left;
}
.menu__wrap ul.menu__level li.menu__item {
  margin: 50px 120px;
  float: left;
}
.menu__wrap ul.menu__level li.menu__item-link {
  margin: 50px 120px;
  float: left;
}
.menu__level
		.left-categories .menu-wrap{
			position: relative;
		}

		.left-categories .menu-level{
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
			overflow: hidden;
			width: 100%;
		}

		.left-categories .menu-level.menu-current{
			visibility: visible;
		}

		.left-categories .menu-level a{
      text-align: center;
			font-weight: 300;
			position: relative;
			display: block;
			font-size: 14px;
			padding: 1em 1.5em 1em 1.5em;
			color: #999;
			-webkit-transition: color .3s cubic-bezier(0, .5, .5, 1);
			-o-transition: color .3s cubic-bezier(0, .5, .5, 1);
			transition: color .3s cubic-bezier(0, .5, .5, 1);
			width: 100%;
			cursor: pointer;
		}

		.left-categories .cat-menu-crumbs {
	
		}		

		.left-categories .cat-menu-crumbs a {
		    font-weight: bold;
		    /* display: inline-block; */
		    cursor: pointer;
		    vertical-align: middle;
		    letter-spacing: 1px;
		    text-transform: uppercase;
		    color: #197;
		    -webkit-transition: all .3s cubic-bezier(0, .5, .5, 1);
		    -o-transition: all .3s cubic-bezier(0, .5, .5, 1);
		    transition: all .3s cubic-bezier(0, .5, .5, 1);
		}

		.left-categories .cat-menu-crumbs li:last-child {
		    pointer-events: none;
		}

		.left-categories .cat-menu-crumbs .list-inline>li {
		    padding-right: 2px;
		    padding-left: 2px;
        -webkit-animation: in-from-right 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
			animation: in-from-right 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
		}

		.left-categories .cat-menu-crumbs .fa{
      left: -5px;
    top: -20px;
    padding-right: 5px;
    font-size: 20px;
    position: relative;
		}

		.left-categories .cat-menu-crumbs .fa-chevron-right:before {
		    color: #999;
		}

		.left-categories .menu-level a span{
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translate(-50%, -50%);
			-webkit-transition: all .3s cubic-bezier(0, .5, .5, 1);
			-o-transition: all .3s cubic-bezier(0, .5, .5, 1);
			transition: all .3s cubic-bezier(0, .5, .5, 1);
		}

		.left-categories .menu-level a .fa-ellipsis-h:before{
			color: #999;
		}

		.left-categories .menu-level a:hover{
			color: #197;
		}

		.left-categories .menu-level a:hover .fa-ellipsis-h:before{
			color: #197;
		}		

		/* Animations */
		.animate-in-right{
			-webkit-animation: in-from-right 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
			animation: in-from-right 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
		}

		.animate-out-left{
			-webkit-animation: out-from-left 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
			animation: out-from-left 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
		}

		.animate-in-left{
			-webkit-animation: in-from-left 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
			animation: in-from-left 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
		}

		.animate-out-right{
			-webkit-animation: out-from-right 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
			animation: out-from-right 0.6s both cubic-bezier(0.7, 0, 0.3, 1)
		}
			




		@keyframes in-from-right{
			from{
				opacity: 0;
				-webkit-transform: translate3d(100%, 0, 0);
				transform: translate3d(100%, 0, 0);
			}

			to {
				opacity: 1;
				-webkit-transform: translate3d(0%, 0, 0);
				transform: translate3d(0%, 0, 0);
			}
		}

		@keyframes out-from-left{
			from{
				opacity: 1;
				-webkit-transform: translate3d(0%, 0, 0);
				transform: translate3d(0%, 0, 0);
			}

			to {
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
			}
		}	


		@keyframes in-from-left{
			from{
				opacity: 0;
				-webkit-transform: translate3d(-100%, 0, 0);
				transform: translate3d(-100%, 0, 0);
			}

			to {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
		}		



		@keyframes out-from-right{
			from{
				opacity: 1;
				-webkit-transform: translate3d(0%, 0, 0);
				transform: translate3d(0%, 0, 0);
			}

			to {
				opacity: 0;
				-webkit-transform: translate3d(100%, 0, 0);
				transform: translate3d(100%, 0, 0);
			}
		}
  </style>
<script>

</script>
  <!-- plugins:js -->
  


  <!-- endinject -->
  <!-- Custom js for this page-->

<!--   <script src="js/data-table.js"></script>
  <script src="js/jquery.dataTables.js"></script>
  <script src="js/dataTables.bootstrap4.js"></script> -->



  <!--  JS HOMEPAGE PME-->
  <script src="/static/js/homepage/classie.js"></script>
  <script src="/static/js/homepage/main.js"></script>
 
  <script>
    (function() {
	var menuEl = document.getElementById('ml-menu'),
		mlmenu = new MLMenu(menuEl, {
			// breadcrumbsCtrl : true, // show breadcrumbs
			// initialBreadcrumb : 'all', // initial breadcrumb text
			backCtrl : false, // show back button
			// itemsDelayInterval : 60, // delay between each menu item sliding animation
			onItemClick: loadDummyData // callback: item that doesnt have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
		});

	// mobile menu toggle
	var openMenuCtrl = document.querySelector('.action--open'),
		closeMenuCtrl = document.querySelector('.action--close');

	openMenuCtrl.addEventListener('click', openMenu);
	closeMenuCtrl.addEventListener('click', closeMenu);

	function openMenu() {
		classie.add(menuEl, 'menu--open');
		closeMenuCtrl.focus();
	}

	function closeMenu() {
		classie.remove(menuEl, 'menu--open');
		openMenuCtrl.focus();
	}

	// simulate grid content loading
	var gridWrapper = document.querySelector('.content');

	function loadDummyData(ev, itemName) {
		ev.preventDefault();

		closeMenu();
		gridWrapper.innerHTML = '';
		classie.add(gridWrapper, 'content--loading');
		setTimeout(function() {
			classie.remove(gridWrapper, 'content--loading');
			gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';
		}, 700);
	}
})();
  </script>
    <!-- End JS HOMEPAGE PME-->
</body>

</html>

