<div id="show-popup-diagram" class="white-popup mfp-with-anim mfp-hide">
  <ul  class="menu__level" style="visibility:unset;grid-template-columns:1fr 1fr">   
    <li class="menu__item menu-diagram" >
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="wrimagecard-topimage_header" href="../diagram/map1" style="display:inline-block;position: relative; z-index:99;" > 
        <p>I UI Map</p>
      </a>
    </li>
    <li class="menu__item menu-diagram" >
      <center>
        <i class="fa fa fa-home" style="color:#fff;font-size: 70px;background-color: deepskyblue" > </i>
      </center>
      <a class="wrimagecard-topimage_header" href="../diagram/map2" style="display:inline-block;position: relative; z-index:99;" > 
        <p>One - line 1</p>
      </a>
    </li>
  </ul>
</div>
<style>
  .white-popup {
    border-radius: 20px;
    position: relative;
    background: #cccccc96;
    /* padding: 20px; */
    overflow: hidden;
    width: auto;
    height: 400px;
    max-width: 700px;
    margin: 0 auto;
}
ul.menu__level li.menu__item.menu-diagram {
  margin: 0 auto;
    transform: translateY(27%);
    align-items: center;
}
ul.menu__level li.menu__item.menu-diagram a p {
  font-size: 20px;
}
</style>
