<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../../head/head-report2.ejs') -%>

      </nav>
      <!-- partial -->
      <div class="main-panel" style="background: url(/static/images/img-map/3.jpg);">
 
        <%- include('chartVoltages/chartVoltages.ejs') -%>

        <!-- content-wrapper ends -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>

    <!-- page-body-wrapper ends -->
  </div>

  <link rel="stylesheet" href="/static/css/reports/chartVoltages.css">

<script src="/static/js/reports/<%= url %>"></script>
</body>

</html>

